@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #121212;
  --background-bg-color: #f6f6f6;
}
/* 
:root {
  --foreground-color: #eee;
  --background-bg-color: #121212;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #eee;
    --background-bg-color: #121212;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-bg-color);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(67, 67, 67, 0.35);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(20, 12, 20);
}

#loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid rgb(210, 210, 210);
  border-top: 8px solid rgb(88, 88, 88);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
