@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #121212;
  --background-bg-color: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #eee;
    --background-bg-color: #121212;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-bg-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(67, 67, 67, 0.35);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to top, purple, cyan);
}
